body{
    height: 100vh;
    margin: 0;
    background-image: url("/images/fondo.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3rem;
}

.registerContainer {
  width: 400px;
  gap: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  background: transparent;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}

#registerBox{
    position: fixed;   
    top: 50%;              
    left: 50%;                
    transform: translate(-50%, -50%); 
    background-color: hsla(0, 0%, 54%, 0.063);
    display: flex;
    gap: 30px;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.193);
}

.input {
  height: 80px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  box-shadow: 5px 5px 20px hwb(299 68% 10% / 0.2);;
  background-color: rgba(255, 255, 255, 0.465);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(0, 0, 0);
  font-size: 20.4px;
  font-weight: 500;
  margin-bottom: 10px;
}

button {
    width: 200px;
    align-self: center;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ffffff58;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
  background-color: hwb(299 68% 10% / 0.373);
  box-shadow: hwb(299 68% 10% / 0.373);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}